
h1 {
  color: navy;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5 ;
}


main {
    margin-bottom: 70px;
}

#tu-logo {
    height: 35px;
    width: 48px;
    margin-top: 12px;
}

#dima-logo{
    margin-top: 5px;
    height: 50px;
    width: 50px;
}

#dataset-list button{
    margin: 5px;
}

#dataset-container {
    margin-top: 20px;
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}

