@()
<footer class="footer">
    <div class="container">
        <span class="text-muted">
            MITBD is a project developed at the DIMA (TU Berlin)
            <a href="https://www.tu-berlin.de/" target="_blank">
                <img src="@routes.Assets.versioned("images/tu-berlin.png")" class="rounded float-right s-icon" id="tu-logo">
            </a>
            <a href="https://www.dima.tu-berlin.de/" target="_blank">
                <img src="@routes.Assets.versioned("images/dima.png")" class="rounded float-right s-icon" id="dima-logo">
            </a>
        </span>

    </div>
</footer>