@(datasets: Array[Dataset], integrations: Array[Integration])
    @main("Integrations")("Make a new integration:") {
        <form method="post" action="@routes.DatasetController.integrate()" enctype="multipart/form-data">

            <div class="form-row">
                <div class="col">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Name</div>
                            </div>
                            <input type="text" class="form-control" id="integration_name" name="integration_name" required>
                        </div>
                </div>
            </div>

            <div class="form-row">

                    <!-- Selection of the Dataset #1 -->

                <div class="col">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Dataset #1</label>
                        </div>
                        <select class="custom-select" name="dsOneId" id="inputGroupSelect01" required>
                            <option disabled selected value="">-- Select a Dataset --</option>
                            @for(dataset <- datasets) {
                                <option value="@dataset.id">@dataset.name</option>
                            }
                        </select>
                    </div>
                </div>

                    <!-- Selection of Dataset #2 -->

                <div class="col">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect02">Dataset #2</label>
                        </div>
                        <select class="custom-select" name="dsTwoId" id="inputGroupSelect02" required>
                            <option disabled selected value="">-- Select a Dataset --</option>
                            @for(dataset <- datasets) {
                                <option value="@dataset.id">@dataset.name</option>
                            }
                        </select>
                    </div>
                </div>
            </div>

                <!-- Form Buttons -->
            <div class="form-row">
                <div class="col">
                    <button type="reset" class="btn btn-secondary">Reset</button>
                    <button type="submit" class="btn btn-primary">Next</button>
                </div>
            </div>

        </form>

        <!-- List of integrations -->

        <div class="container-fluid" id="dataset-container">
            @if(!integrations.isEmpty) {
                <h3>Integrations</h3>
            }
        <div class="list-group" id="dataset-list">
        @for(integration <- integrations) {
            <div class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex justify-content-between">
                    <a href="@routes.IntegrationController.show(integration.id)">
                        <div class="w-70">
                            <h5 class="mb-1 w-50">@integration.name</h5>
                            <small class="text-muted">id: @integration.id</small><br>
                            <small class="text-muted">Algorithms: @integration.blocking / @integration.comparison</small><br>
                            <small class="text-muted">Threshold: @integration.threshold</small>
                        </div>
                    </a>
                    <div>
                        <a href="@routes.IntegrationController.delete(integration.id)">
                            <button class="btn btn-danger">Delete</button>
                        </a>

                    </div>
                </div>
            </div>


        }
        </div>
        </div>
    }