@(intId: Int, intName: String , headers: Array[String], mainRow: Array[String],rows: Array[Array[String]])
@main(s"Integration: $intName")(s"ID: $intId") {
    <div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr class="text-secondary">
            @for(header <- headers) {
                <th scope="col">@header</th>
            }
            </tr>
        </thead>
        <tbody>
            <tr class="text-light bg-primary">
            @for(data <- mainRow) {
                <td>@data</td>
            }
                <td>-</td>
            </tr>

        @for(row <- rows) {
            <tr>
            @for(data <- row) {
                <td>@data</td>
            }
            </tr>
        }
        </tbody>
    </table>
    </div>

}